.domain_body {
	position: absolute;
	width: 100%;
	margin-top: 3%;
}

.domain_title {
	font-size: 45px;
}

.domain_info {
	text-align: center;
}

.address_search {
	margin-top: 3%;
	width: 100%;
	height: 20%;
	text-align: center;
}

.address_search input {
	width: 40%;
	height: 50px;
	font-size: 20px;
	margin-right: 10px;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	font-weight: bold;
	border: 1px solid grey;
	box-shadow: 1px 1px 3px grey;
}

.address_search button {
	border: 1px solid black;
	background: black;
	padding: 15px;
	font-size: 17px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	cursor: pointer;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
}

.address_search button:hover {
	border: 1px solid deeppink;
	background: deeppink;
	color: white;
	transition: 0.3s;
}

.address_list {
	margin-top: 3%;
	width: 100%;
	height: 20%;
	text-align: center;
}

.address_table {
	width: 40%;
	margin-left: 28%;
	border-top: 2px solid;
	border-collapse: collapse;
	height: 30%;
	font-size: 20px;
	text-align: center;
	font-family: 'NanumSquareRound';
}

tr {
	border-bottom: 2px solid;
	height: 50px;
}

.domain {
	width: 50%;
}

.address_table button {
	border: 1px solid black;
	background: black;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	cursor: pointer;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
}

.address_table button:hover {
	border: 1px solid deeppink;
	background: deeppink;
	color: white;
	transition: 0.3s;
}

.domain_delete_btn {
	margin-left: 3%;
}

.readme_text {
	display: none;
	position: absolute;
	margin-left: 73%;
	margin-top: 1%;
	box-shadow: 2px 2px 2px grey;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10;
	z-index: 99;
}

.readme_btn {
	position: absolute;
	border: 1px solid black;
	background: black;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	cursor: pointer;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
	margin-left: 86%;
	margin-top: -2%;
}

.readme_btn:hover {
	border: 1px solid deeppink;
	background: deeppink;
	color: white;
	transition: 0.3s;
}

@media ( max-width :1280px) {
	.domain_title {
		font-size: 30px;
		margin-top: -1%;
	}
	.readme_btn {
		margin-left: 83%;
	}
	.readme_text {
		margin-left: 64%;
		margin-top: 2%;
	}
	.address_list {
		margin-top: -1%;
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 17;
	}
	ul {
		font-size: 13px;
	}
	.address_table {
		font-size: 16px;
	}
	tr {
		height: 43px;
	}
}

@media ( max-width :1024px) {
	.address_table {
		width: 60%;
		margin-left: 20%;
	}
}

@media ( max-width :500px) {
	.domain_info {
		margin-top: 20%;
	}
	.address_search input {
		width: 90%;
		margin-left: 3%;
	}
	.address_search button {
		width: 50%;
		margin-top: 2%;
	}
	.address_table {
		margin-left: 0;
		width:100%;
		font-size: 11px;
	}
	.address_table button {
		width: 80%;
		font-size: 14px;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.readme_btn {
		margin-top: 2%;
		margin-left: 50%;
	}
	.readme_text {
		margin-left: 0;
		margin-top: 14%;
	}
}