.memberfind_body {
	width: 100%;
	height: 100%;
	position: absolute;
}

p {
	font-family: 'NanumSquareRound';
	color: grey;
}

.cover {
	position: absolute;
	width: 20%;
	height: 60%;
	margin-left: 55%;
	background-image: url("/resources/img/chair.jpg");
	background-size: 100%;
	object-fit: cover;
	margin-top: 7%;
	z-index: 10;
	border: 1px solid black;
}

.left {
	position: absolute;
	border: 1px solid black;
	width: 20%;
	height: 60%;
	margin-left: 35%;
	margin-top: 7%;
	background: white;
	border-right: none;
}

.right {
	border: 1px solid black;
	width: 20%;
	height: 60%;
	position: absolute;
	margin-left: 55%;
	margin-top: 7%;
	border-left: none;
	background: white;
}

.memberfind_body form {
	padding-left: 15%;
}

button {
	margin-left: 15%;
	width: 65%;
	border: 1px solid black;
	background: black;
	color: snow;
	padding-top: 2%;
	padding-bottom: 2%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 1px 5px black;
	font-family: 'NanumSquareRound';
	font-size: 16px;
}

button:hover {
	border: 1px solid deeppink;
	background: deeppink;
	transition: 0.5s;
	color: white;
}

input {
	width: 75%;
	height: 6%;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 1px 1px 5px grey;
	padding-left: 10px;
	font-size: 15px;
	font-family: 'NanumSquareRound';
}

.memberfind_body h1 {
	color: black;
	margin-left: 10%;
	margin-top: 7%;
}

.menu_tap {
	position: absolute;
	margin-left: 35%;
	margin-top: 4.4%;
}

.menu {
	padding: 15px;
	background: white;
	border: 1px solid black;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.active_menu {
	padding: 15px;
	background: black;
	border: 1px solid black;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.send_mail_btn {
	margin-bottom: 2%;
}
.email_change{
	display:none;
}