<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="domain">
  
  <select id="domainList" parameterType="int" resultType="hashMap">
  	select address,stat from domain where master_seq=#{master_seq} 
  </select>
  <insert id="domainInsert">
  	insert into domain(master_seq,address) values(#{master_seq},#{address})
  </insert>
  <select id="domainCount" parameterType="int" resultType="int">
  	select count(*) from domain where master_seq=#{master_seq}
  </select>
  <select id="domainSelect" parameterType="int" resultType="hashMap">
  	select address,stat from domain where master_seq=#{master_seq} order by reg_date desc limit 1
  </select>
  <select id="domainCheck" parameterType="string" resultType="string">
  	select master_seq from domain where address like CONCAT('%',#{keyword})
  </select>
  <delete id="domainDelete">
  	delete from domain where address=#{address} and master_seq=#{master_seq}
  </delete>
  <select id="serverCheck" parameterType="hashMap" resultType="hashMap">
  	select address from domain where stat="Y"order by reg_date limit #{index},#{limit}
  </select>
  <update id="statSuccessUpdate" parameterType="string">
	  update domain set stat="Y" where address=#{address}
  </update>
  <update id="statFailUpdate" parameterType="string">
  	update domain set stat="N" where address=#{address}
  </update>
  <select id="getFailServer" resultType="hashMap">
  	select master_seq,address from domain where address=#{address}
  </select>
  <select id="getServerCheckCount" resultType="int">
 	 select count(*) from domain where stat="Y"
  </select>
  </mapper>