<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
<select id="showmember" resultType="hashMap">
		select * from member
</select>
<select id="idcheck" parameterType="string" resultType="Membervo">
	select * from member where id=#{id}
</select>
<select id="emailcheck" parameterType="string" resultType="Membervo">
	select * from member where email=#{email}
</select>
<insert id="join">
	insert into member(id,password,email,privatekey) values(#{id},#{password},#{email},#{privatekey})
</insert>
<insert id="socialJoin">
	insert into member(id,email,auth) values(#{id},#{email},"Y")
</insert>
<select id="socailCheck" resultType="int">
	select seq from member where id=#{id} and email=#{email}
</select>
<select id="memberselect" parameterType="string" resultType="Membervo">
	select id,privatekey,email,auth from member where id=#{id}
</select>
<select id="login" resultType="Membervo">
	select * from member where id=#{id} and password=#{password}
</select>
<update id="authupdate" parameterType="string">
	update member set privatekey=null,auth="Y" where id=#{id}
</update>
<select id="findid" parameterType="string" resultType="string">
	select id from member where email=#{email}
</select>
<select id="findpw" parameterType="Membervo" resultType="string">
	select id from member where id=#{id} and email=#{email}
</select>
<update id="privatekeychange">
	update member set privatekey=#{privatekey} where id=#{id}
</update>
<select id="membercheck" resultType="string">
	select id from member where id=#{id} and privatekey=#{privatekey}
</select>
<update id="pwupdate">
	update member set password=#{password},privatekey=null where id=#{id} 
</update>
<update id="emailupdate">
	update member set email=#{email} where id=#{id}
</update>
<update id="tokenupdate">
	update member set privatekey=#{privatekey} where id=#{id}
</update>
<select id="MemberCheckSeq" parameterType="int" resultType="hashMap">
	select seq,id,email from member where seq=#{seq}
</select>
<select id="seqSelectPw" parameterType="int"  resultType="string">
	select password from member where seq=#{seq}
</select>
<select id="seqSelectId" parameterType="int" resultType="string">
	select id from member where seq=#{seq}
</select>
<delete id="memberSecession" parameterType="int">
	delete from member where seq=#{seq}
</delete>
<update id="privatekeySetNull" parameterType="string">
	update member set privatekey=null where id=#{id} 
</update>
</mapper>